<link href="prism.css" rel="stylesheet"/>
<script src="prism.js"></script>

<div class="container">
  <div style="text-align:center;">
    <h1 class="page-header">{{$ctrl.question.title}}</h1>
    <h4 >posted by: {{$ctrl.question.postedBy.name}}</h4>
    <h4 class="page-header">at: {{$ctrl.question.createdAt}}</h4>
  </div>
  <div>
    <div>{{$ctrl.question.text}}</div>
    <br>
    <pre class={{$ctrl.prismLang}}><code class={{$ctrl.prismLang}}>{{$ctrl.question.code}}</code></pre>
    <br>
    <div class="nav nav-tabs nav-stacked" style="text-align:center;">
        tags:
        <div>
        <h6 ng-repeat="tag in $ctrl.question.tags">{{tag.text}}</h6>
        <br>
        </div>
    </div>
  </div>
</div>


<div class="row row-content" style="text-align:center;" ng-show="$ctrl.toShowAddTags()">
  <div class="">
    <h5>Enter additional tags:</h5>
  </div>
  <div class="" style="text-align:center;">
    <form class="form-horizontal" name="updateQuestionForm" ng-submit="$ctrl.updateQuestion()" novalidate>
      <div class="form-group">
        <div>
                            <textarea class="form-control" rows="3"
                                      ng-model="$ctrl.form.tags" style="margin-left: 25%; width:50%;" placeholder="tags...">
                            </textarea>
        </div>
      </div>
      <div class="form-group">
        <div>
          <button type="submit" class="btn btn-primary" ng-disabled="updateQuestionForm.$invalid">add
            Tags
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container" style="text-align:center;">
  <div class="row">
    <h1 class="page-header">Answers:</h1>
    <div class="col-lg-12" style="text-align:center;">
      <ul class="nav nav-tabs nav-stacked" style="text-align:center;">
        <div ng-repeat="answer in $ctrl.question.answers">
          <li style="font-size:20px; font-family: arial;">{{answer.text}}</li>
          <br>
        </div>
      </ul>
    </div>
  </div>
</div>


<div class="row row-content" style="text-align:center;" ng-show="$ctrl.Auth.isLoggedIn()">
  <div class="">
    <h3>Enter an Answer:</h3>
  </div>
  <div class="" style="text-align:center;">
    <form class="form-horizontal" name="answerForm" ng-submit="$ctrl.sendAnswer()" novalidate>
      <div class="form-group">
        <div>
                            <textarea class="form-control" rows="10"
                                      ng-model="answer.text" style="margin-left: 25%; width:50%;" placeholder="text...">
                            </textarea>
        </div>
      </div>
      <div class="form-group">
        <div>
          <button type="submit" class="btn btn-primary" ng-disabled="answerForm.$invalid">Submit
            Answer
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

