
header#banner.hero-unit
  .container
    div.main_title
    h1 Ace Overflow
    p.lead Just like stackoverflow, but better.
    img(src='assets/images/ace_of_hearts.png', alt='I\'m Yeoman')

.container
  .row
    .col-lg-12
      h1.page-header Top Questions:
      ul
        li(ng-repeat='thing in $ctrl.awesomeThings')
            a(href='#', uib-tooltip='{{thing.info}}')
              | {{thing.name}}
